# Dependencies
node_modules/

# Cypress
cypress/screenshots/
cypress/videos/

# Test reports
reports/
results/
*.xml

# k6
performance/results.json

# Environment / secrets
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Coverage
coverage/